.highlight
    &-header
        text-align: center
        margin-top: 3.5rem
        &-text 
            font-size: $font-size-base + 2px;
            max-width: 680px ;
            @media screen and (max-width: $break-small)
                max-width: 320px ;
    &-list
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
        padding-top: 3rem;
        padding-bottom: 3.5rem;
            